input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 13px;
    border: solid 1px #E5E5E5;
    padding: 5px;
    border-radius: 2px;
}

label {
    font-weight: bold;
}