html, body {
    padding: 0;
    margin: 0;
    color: #2C2509;
    background-color: white;
    font-size: 17px;
    height: 100%;
}

button {
    color: inherit;
}

a {
    color: #19A5DF;
}

* {
    outline: none;
}

h3 {
    margin-top: 10px;
}

/* file input wrapper button */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    /*min-width: 100%;
    min-height: 100%;
    font-size: 100px;*/
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}