html, body {
    padding: 0;
    margin: 0;
    color: #2C2509;
    background-color: white;
    font-size: 17px;
    height: 100%;
}

button {
    color: inherit;
}

a {
    color: #19A5DF;
}

* {
    outline: none;
}

h3 {
    margin-top: 10px;
}