<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".">{{host}}</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form-group">
        <div cd-select-file ng-model="file"></div>
    </div>
    <table class="table table-bordered" ng-if="fileMetadatas.length">
        <tr>
            <th> Name </th>
            <th> Size </th>
            <th></th>
        </tr>
        <tr ng-repeat="fileMetadata in fileMetadatas">
            <td ng-bind="fileMetadata.name"></td>
            <td ng-bind="fileMetadata.size"></td>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href class="btn btn-sm btn-primary" cd-file-download="{{fileMetadata.name}}">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            &nbsp;
                        </td>
                        <td>
                            <a href class="btn btn-sm btn-danger" ng-click="removeFile(fileMetadata.name)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>